<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<title>我的博客</title>
		<link rel="stylesheet" type="text/css" href="/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="/css/blog.css" />
		<script type="text/javascript" src="/layui/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="/layui/layui.js"></script>
		<style>
			
		</style>
	</head>
	<body style="background:#2F4056;">
	<div class="layui-container">  
		 <div class="layui-row" style="margin-top:30px;">
		 	<div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
		 		<div class="mf30">
			      <h1><a href="#">我的博客</a></h1>
			      <h3>海纳百川 有容乃大</h3>
		 		</div>
		    </div>
		 </div>
		  <div class="layui-row" style="margin-top:20px;">
		    <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
		    	<div class="mr20">
			      <div class="left_top">
			      	
			      		<h2><a href="#">我的主页</a></h2>
			      		
			      </div>
			      <div class="mt30 of h260">
			      	<img src="/img/home.png" alt="" />
			      </div>
		    	</div>
		    </div>
		    
		    <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
		      <div class="mr20">
		      	  <div class="of h260">
		      	  	<img src="/img/2.jpg" alt="" />
		      	  </div>
			      <div class="mid_left_top mt30">
			      	
			      		<h2><a href="#">我的分享</a></h2>
			      	
			      </div>
			      
		    	</div>
		      
		    </div>
		    
		     <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
		      <div class="mr20">
			      <div class="mid_right_top">
			      	
			      		<h2><a href="#">我的话题</a></h2>
			      	
			      </div>
			      <div class="mt30 of h260"><img src="/img/3.jpg" alt="" /></div>
		    	</div>
		    </div>
		    
		    <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
		      <div class="mr20">
		      	  <div class="of h260">
		      	  	<img src="/img/mid.jpg" alt="" />
		      	  </div>
			      <div class="right_top mt30">
			      	
			      		<h2><a href="#">关于我的</a></h2>
			      	
			      </div>
			      
		    	</div>
		    </div>
		   	<div class="layui-row" style="margin-top:30px;">
			 	<div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
			 		<div style="float: right; color: white; margin-right: 10px; margin-top: 30px;">Copyright © 2018 Name - nuoqin </div>
			 	</div>
		 </div>
	  </div>
</div>
	</body>
</html>
